In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['catdog', 'mercedes-benz-greener-manufacturing', 'xgboost']

In [2]:
base0 = pd.read_csv("../input/catdog/benz-cat.csv")
base1 = pd.read_csv("../input/xgboost/benz-xgb.csv")

In [3]:
base0.head()

   ID           y
0   1   82.812232
1   2   97.352863
2   3   86.283735
3   4   78.467799
4   5  112.591857

In [4]:
base1.head()

   ID           y
0   1   84.858420
1   2  101.376060
2   3   83.577774
3   4   78.786960
4   5  112.954570

In [5]:
base0["y"] = base0["y"]*0.4 + base1["y"]*0.6
base0.to_csv("cat4xgb6.csv", index=False)