In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'train.csv', 'svm_benchmark.csv']

In [2]:
train = pd.read_csv("../input/train.csv")
test = pd.read_csv("../input/test.csv")
y = train["Activity"]
train.drop("Activity",1,inplace=True)

In [3]:
train.head()

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,...,D1767,D1768,D1769,D1770,D1771,D1772,D1773,D1774,D1775,D1776
0,0.000000,0.497009,0.10,0.0,0.132956,0.678031,0.273166,0.585445,0.743663,0.243144,...,0,0,0,0,0,0,0,0,0,0
1,0.366667,0.606291,0.05,0.0,0.111209,0.803455,0.106105,0.411754,0.836582,0.106480,...,1,1,1,1,0,1,0,0,1,0
2,0.033300,0.480124,0.00,0.0,0.209791,0.610350,0.356453,0.517720,0.679051,0.352308,...,0,0,0,0,0,0,0,0,0,0
3,0.000000,0.538825,0.00,0.5,0.196344,0.724230,0.235606,0.288764,0.805110,0.208989,...,0,0,0,0,0,0,0,0,0,0
4,0.100000,0.517794,0.00,0.0,0.494734,0.781422,0.154361,0.303809,0.812646,0.125177,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3751 entries, 0 to 3750
Columns: 1776 entries, D1 to D1776
dtypes: float64(942), int64(834)
memory usage: 50.8 MB

In [5]:
float_cols = train.columns[train.dtypes=="float64"]

In [6]:
float_cols
alldata = pd.concat([df_train, df_test], sort=False)
df_train = alldata.iloc[:len(df_train), :]
df_test = alldata.iloc[len(df_train):, :]

NameError: name 'df_train' is not defined

In [7]:
train.shape

(3751, 1776)

In [8]:
import keras
from keras import Sequential
from keras.layers import Dense, Dropout

Using TensorFlow backend.

In [9]:
model = Sequential()

In [10]:
model.add(Dense(504, input_dim=train.shape[1], activation = "relu"))

In [11]:
model.add(Dropout(0.6))

In [12]:
model.add(Dense(352, activation = "relu"))

In [13]:
model.add(Dropout(0.6))

In [14]:
model.add(Dense(1, activation = "sigmoid"))

In [15]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
model.fit(train, y, batch_size=256, epochs=8, verbose=1)

Epoch 1/8
3751/3751 [==============================] - 1s 358us/step - loss: 0.6967 - acc: 0.5790
Epoch 2/8
3751/3751 [==============================] - 1s 165us/step - loss: 0.5936 - acc: 0.6886
Epoch 3/8
3751/3751 [==============================] - 1s 148us/step - loss: 0.5461 - acc: 0.7251
Epoch 4/8
3751/3751 [==============================] - 1s 163us/step - loss: 0.4973 - acc: 0.7665
Epoch 5/8
3751/3751 [==============================] - 1s 174us/step - loss: 0.4758 - acc: 0.7811
Epoch 6/8
3751/3751 [==============================] - 1s 170us/step - loss: 0.4607 - acc: 0.7905
Epoch 7/8
3751/3751 [==============================] - 1s 170us/step - loss: 0.4356 - acc: 0.7990
Epoch 8/8
3751/3751 [==============================] - 1s 170us/step - loss: 0.4112 - acc: 0.8198

In [17]:
pred = model.predict(test, batch_size = 256, verbose=1)

2501/2501 [==============================] - 0s 65us/step

In [18]:
pred

array([[0.9555735 ],
       [0.98860526],
       [0.29113442],
       ...,
       [0.93396235],
       [0.8847013 ],
       [0.27847785]], dtype=float32)

In [19]:
pred = pred.reshape(2501,)

In [20]:
sumit = pd.read_csv("../input/svm_benchmark.csv")
submit  = pd.DataFrame({'MoleculeId': sumit['MoleculeId'], 'PredictedProbability': pred})
submit.to_csv('ANN.csv', index=False)